* {
	font-family: 'Pangolin', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: auto;
	text-align: center;
	background-image: url(../img/moneybg.jpg);
	background-size: cover;
}

.container {
	width: 100%;
	margin: auto;
}

h1 {
	width: 600px;
	margin: 0 auto;
	color: #fff;
	background-color: #373737
}

@media (max-width:480px) {
	h1 {
		width: 300px;
	}
}

#showRate {
	overflow-x: scroll;
}

// .draw-chart {
// 	width: 400px; height: 300px
// }

// @media (max-width : 480px) {
// 	.draw-chart {
// 		width: 300px; height: 300px
// 	}
// }

#DateTimeDisp {
	font-size: 0.9rem;
	overflow-x: scroll;
}

.box {
	background-color: rgba(255, 255, 255, 0.7);
}